@font-face {
    font-family: eraser;
    src: url(/fonts/EraserRegular-webfont.woff);
}

@font-face {
    font-family: addex;
        src: url(/fonts/AddeX.ttf);
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-rows: 1fr 10fr;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.894);
    font-family: addex, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    color: white;
}

main {
    display: grid;
    grid-template: 1fr 10fr / 1fr 2fr 1fr 2fr 1fr;
    grid-template-areas:  
                        ". . button . ."
                        ". player1 gameboard player2 .";
    gap: 80px;
}

header {
    text-align: center;
    font-size: 9rem;
    margin: 20px;
}

.start-button {
    grid-area: button;
}

.player {
    color: white;
    font-size: 100px;
    background-image: url(images/black-1072366_1280.jpg);
    height: 250px;
    padding: 20px;
    min-width: max-content;
    border: solid 8px #ffff;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player.one {
    grid-area: player1;
}

.game-board {
    grid-area: gameboard;
}

.player.two {
    grid-area: player2;
}

.game-board {
    display: grid;
    grid-template-columns: 250px 12px 250px 12px 250px;
    grid-template-rows: 250px 12px 250px 12px 250px;
} 

.square {
    font-size: 12rem;
    font-family: eraser, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(95, 215, 255);
    text-align: center;
    margin: auto;
    height: 250px;
    width: 250px;
}

.border {
    box-sizing: content-box;
;}

.border.right {
    border-right: double 12px #ffff;
    border-radius: 15px /15px 225px 15px 255px;
    grid-column: 4;
    grid-row: 1/6;
}

.border.left {
    border-left: double 12px #ffff;
    border-radius: 15px /15px 300px 15px 255px;
    grid-column: 2;
    grid-row: 1/6;
}

.border.top {
    border-top: double 12px #ffff;
    border-radius: 255px 15px 225px 15px/80px 15px 255px;
    grid-row: 2;
    grid-column: 1/6;
}

.border.bottom {
    border-bottom: double 12px #ffff;
    border-radius: 255px 15px 225px 15px/15px 225px 100px 255px;
    grid-row: 4;
    grid-column: 1/6;
}
